@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

/* hide horizontal scrollbar but keep scrollability */
.no-scrollbar { scrollbar-width: none; -ms-overflow-style: none; }
.no-scrollbar::-webkit-scrollbar { display: none; }

:root {
  --site-background: #FFE8D1;  /* light background that pairs w/ accent-50 */
  --site-foreground: #191d19;  /* accent-900 for readable body text */
  --accent: #FFE8D1;
  --main-light: #FFE8D1;
  --main-dark: #191d19;
}

@media (prefers-color-scheme: dark) {
  :root {
    --site-background: #191d19; /* brand-900 */
    --site-foreground: #FFE8D1; /* accent-100 */
    --accent: #113f31;
    --main-light: #FFE8D1;
    --main-dark: #191d19;
  }
}

body {
  background: var(--site-background);
  color: var(--site-foreground);
  font-family: 'Source Sans Pro', 'Myriad Pro', Arial, Helvetica, sans-serif;
}

@media (max-width: 767px) {
  .simplebar-content-wrapper,
  .simplebar-mask,
  .simplebar-offset {
    overflow: visible !important;
    margin-right: 0 !important;
    right: 0 !important;
  }
}

html, body { max-width: 100vw; overflow-x: hidden; }
